{% extends 'base.html' %}
{% block title %}Contact{% endblock %}
{% block content %}
<div class="row my-1">
    <h1 class="text-center">Contact Us</h1>
    <hr>
    <div class="col-3 text-center my-4">
        <h6 class="bi bi-mailbox2 text-center my-3"></h6>
        <h6 class="my-3">City Hospital</h6>
        <h6 class="my-3">Mahatma Gandhi Rd</h6>
        <h6 class="my-3">opp. Padma Theatre</h6>
        <h6 class="my-3">Padma Junction</h6>
        <h6 class="my-3">Pullepady</h6>
        <h6 class="my-3">Ernakulam</h6>
        <h6 class="my-3">Kerala</h6>
    </div>
    <div class="col-3 text-center my-4">
        <h6 class="bi bi-phone-fill my-3"></h6>
        <h6>+911234567890</h6>
        <h6 class="bi bi-telephone-fill my-3"></h6>
        <h6>+914801234567</h6>
        <h6 class="bi bi-envelope-at-fill my-3"></h6>
        <h6>info@cityhospital.com</h6>
        <h6 class="bi bi-globe my-3"></h6>
        <h6>cityhospital.in</h6>
    </div>
    <div class="col-3 text-center my-4">
        
        <h6 class="bi bi-facebook my-3"></h6>
        <h6>city_hospital</h6>
        <h6 class="bi bi-whatsapp my-3"></h6>
        <h6>+910987654321</h6>
        <h6 class="bi bi-instagram my-3"></h6>
        <h6>city_hospital</h6>
        <h6 class="bi bi-youtube my-3"></h6>
        <h6>city_hospital</h6>
        
    </div>
    <div class="col-3 text-center my-4">
        <h6 class="bi bi-geo-alt-fill my-3"></h6>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.4304284605973!2d76.2808267736964!3d9.981258490123205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d4e3276c92f%3A0xe5d856c824721298!2sCity%20Hospital%20Ernakulam!5e0!3m2!1sen!2sin!4v1726074664450!5m2!1sen!2sin"
        width="230" height="230" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
{% endblock %}