li:hover{
    background-color: gray;
    border-radius: 200px;
    border: 1px solid yellow;
}

.contact-header{
    color: blue;
}

#carouselExampleDark{
    height: 324px;
}

.carousel{
    height: 324px;
}

.carousel-item img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}